@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url(@fontsource/poppins/files/poppins-latin-600-normal.woff2) format('woff2'),
    url(@fontsource/poppins/files/poppins-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.75rem 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
}

.card-clickable {
  cursor: pointer;
}

.card-clickable.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-family: 'Poppins', sans-serif;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 0.5px;
  max-width: 87%;
}

.card__text {
  margin-top: 1rem;
  width: 43%;
  line-height: 1.5rem;
  font-weight: 400;
}

.card__title-size-xs {
  font-size: 18px;
}

.card__title-size-small {
  font-size: 24px;
}

.card__title-size-medium {
  font-size: 32px;
}

.card__title-size-large {
  font-size: 48px;
}

.card__image {
  align-self: flex-end;
}

.card-color-magenta {
  background-color: #fe3d9a;
  color: #ffffff;
  -webkit-box-shadow: 0px 16px 60px 0px rgba(254, 61, 154, 0.35);
  -moz-box-shadow: 0px 16px 60px 0px rgba(254, 61, 154, 0.35);
  box-shadow: 0px 16px 60px 0px rgba(254, 61, 154, 0.35);
}

.card-color-blue {
  background-color: #3b3bf5;
  color: #ffffff;
  -webkit-box-shadow: 0px 16px 60px 0px rgba(59, 59, 245, 0.35);
  -moz-box-shadow: 0px 16px 60px 0px rgba(59, 59, 245, 0.35);
  box-shadow: 0px 16px 60px 0px rgba(59, 59, 245, 0.35);
}

.card-color-white {
  background-color: #ffffff;
  color: #000000;
  border-left: 8px solid #3b3bf5;
  -webkit-box-shadow: 0px 16px 60px 0px rgba(0, 51, 126, 0.12);
  -moz-box-shadow: 0px 16px 60px 0px rgba(0, 51, 126, 0.12);
  box-shadow: 0px 16px 60px 0px rgba(0, 51, 126, 0.12);
}

@media screen and (min-width: 767px) {
  .card {
    border-radius: 12px;
    padding-bottom: 0.25rem;
  }

  .card__text {
    width: 57%;
  }

  .card-span2 {
    grid-column: span 2;
  }
}
